* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  border: 1px solid black;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 350px;
  padding: 20px 16px;
  margin-bottom: 30px;
}

input {
  padding: 5px 16px;
  border-radius: 4px;
}

input:focus {
  border: 1px solid darkgreen;
  outline: none;
  box-shadow: 0 0 10px rgb(59, 114, 53);
}

form button {
  padding: 5px 16px;
  border-radius: 4px;
  background-color: rgb(57, 216, 65);
  color: white;
}

.container {
  max-width: 350px;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn {
  padding: 5px 16px;
  border-radius: 4px;
  background-color: rgb(57, 216, 65);
  color: white;
}

.containerCard {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  display: none;
}
.active {
  display: flex;
  gap: 16px;
  flex-direction: column-reverse;
  justify-content: flex-end;
}
.infoOrderElement {
  border-radius: 16px;
}

.icon {
  border-radius: 50%;
  margin: 5px;
  background-color: rgb(243, 236, 228);
  color: black;
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
}

.icon span {
  text-align: center;
}

.card {
  background-color: rgb(57, 216, 65);
  color: white;
  display: flex;
  padding: 16px;
  gap: 16px;
  border-radius: 16px;
  box-shadow: 10px 5px 5px rgb(56, 80, 65);
  transform: translateX(100%);
  transition: transform 1.5s;
}

.anim {
  transform: translateX(0);
}

.card > *:not(:first-child):not(:last-child) {
  flex-grow: 1;
}

.card-fade-out {
  transition: opacity 2s;
  opacity: 0;
}

.card h3 {
  margin-bottom: 6px;
}

.close {
  border: none;
  background-color: transparent;
  color: white;
  height: 20px;
}

.containerInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 6px 10px;
}
.containerInfoCard {
  border: 1px solid black;
  border-radius: 4px;
  padding: 6px 10px;
}
.cancel {
  background-color: transparent;
  color: black;
}

.warning {
  background-color: rgb(240, 165, 25);
}

.error {
  background-color: rgb(231, 32, 32);
}

.invalid {
  border: 3px solid red;
  box-shadow: 0 0 10px red;
}
